/* See Fonts/Fonts.js and @zachleat's https://github.com/zachleat/web-font-loading-recipes */
@font-face {
  font-family: InterPre;
  src: url('/static/fonts/Inter-Black.woff2?v=3.13') format('woff2'),
    url('/static/fonts/Inter-Black.woff?v=3.13') format('woff');
}

@font-face {
  font-family: 'ITC Avant Garde';
  font-weight: 700;
  font-style: normal;
  font-named-instance: 'bold';
  src: url('/static/fonts/itc-avant-garde-gothic-pro.woff2?v=3') format('woff2'),
    url('/static/fonts/itc-avant-garde-gothic-pro.woff?v=3') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/static/fonts/Inter-roman.var.woff2?v=3.13') format('woff2');
}

/* @font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/static/fonts/Inter-italic.var.woff2?v=3.13') format('woff2');
} */

.fonts-loading h1 {
  font-family: 'InterPre';
}

@supports (font-variation-settings: normal) {
  .fonts-loaded h1 {
    font-family: 'ITC Avant Garde';
  }
  .fonts-loaded h2 {
    font-family: 'Inter';
  }
}

amp-img {
  background-color: #ddd;
}
